<% include ./partials/header %>

<h1>Login to Yelp Camp</h1>

<form action = "/login" method="post">
  <input type="text" name="username" placeholder="User Name">
  <input type = "password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>

<% include ./partials/footer %>